<template>
	<div>
		<div>
			<b-container>
				<div>
					<h1 class="text-center">
						<img src="@/assets/divisas.png" width="60" height="60" /> Divisas
					</h1>
				</div>
				<div v-for=" coin of coins" :key="coin.id">
					<b-list-group>
						<span v-if="coin">
							<b-list-group-item class="d-flex justify-content-between align-items-center">
									{{coin.name}}
								<b-badge variant="success" pill>
									{{coin.symbol}}						
								</b-badge>
							</b-list-group-item>
						</span>
					</b-list-group>
				</div>
			</b-container>
			<button v-if="form_active==false" @click="active_form" class="btn btn-primary">Crear divisa</button>
		</div>
		<div v-if="form_active">
			<div class="mb-3">
				<label class="form-select">Nombre de la moneda</label>
				<input v-model="name" class="form-control" type="text" required>
			</div>
			<div class="mb-3">
				<label class="form-text">Simbolo de denominación</label>
				<input v-model="symbol" type="text" class="form-control" required>
			</div>
			<button @click="sendParams" class="btn btn-primary">Crear Movimiento</button>
		</div>
	</div>
</template>

<script>
  import {mapActions, mapState} from 'vuex'
  export default{
    data: function () {
      return {
        name: null,
        symbol: null,
        form_active: false
      }
    },
		methods:{
			...mapActions(['createCoin', 'getCoins']),
			active_form(){
			this.form_active = true
			},
			async sendParams(){
				const params = {
					coin: {
					name: this.name,
					symbol: this.symbol      
					}
			}
			console.log(params)
			await this.createCoin(params)
			}
		},
		async created(){
		await this.getCoins()
		},
		computed:{
		...mapState(['coins'])
		}
	}
</script>