<template>
  <div>
      <div class="mb-3">
        <label class="form-select">Seleccione el fondo</label>
        <select name="select" v-model="acount_id" class="form-control" id="fondo">
          <option v-for="acount in acounts" :key="acount.id" :value='acount.id'>
          {{acount.detail}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-select">Seleccione el proveedor</label>
        <select name="select" v-model="vendor_id" class="form-control" id="fondo">
          <option v-for="vendor in vendors" :key="vendor.id" :value='vendor.id' >
          {{vendor.name}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-select">Seleccione tipo de movimiento</label>
        <select name="select" v-model="status" class="form-control" id="status">
          <option value="true" >Credito</option>
          <option value="false">Debito</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-select">Fecha</label>
        <input v-model="date" class="form-control" type="date" required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input v-model="amount" type="number" class="form-control" id="monto" required>
      </div>
      <div class="mb-3">
        <label class="form-text">Detalles del movimiento</label>
        <input v-model="detail" type="text" class="form-control" id="detalle">
      </div>

      <button @click="sendParams" class="btn btn-primary">Crear Movimiento</button>
  </div>

</template>

<script>
  import {mapActions} from 'vuex'
  import { getInformation } from '@/mixins/info'
  export default{
    mixins: [getInformation],
    data: function () {
      return {
        acount_id: null,
        detail: null,
        amount: null,
        vendor_id: null,
        status: null,
        date: null
      }
    },
    methods:{
      ...mapActions(['createMovement']),
      async sendParams(){
        const params = {
          movement: {
            acount_id: this.acount_id,
            detail: this.detail,
            amount: this.amount,
            vendor_id: this.vendor_id,
            status: this.status,
            date: this.date          
          }
        }
        console.log(params)
        await this.createMovement(params)
      }
    }
  }
</script>