<template>
	<div>
		<h3>Movimientos</h3>
		<h1 class="text-center"> <img src="@/assets/compras.png" alt="" width="100" height="100"> </h1>
		<table>

			<thead>
				<tr>
					<th>Fecha</th>
					<th>Detalle</th>
					<th>monto</th>
				</tr>
			</thead>


			<tbody v-for="(move,index) in movements" :key="index" class="list-group-item">
				<tr>
					<td> {{move.date}} </td>
					<td> {{move.detail}} </td>
					<td> {{move.amount}} </td>
				</tr>
			</tbody>

		</table>

		<router-link to="/movements/new" class="btn btn-primary">Crear nuevo movimiento</router-link>
	</div>
</template>

<script>
	import { getInformation } from '@/mixins/info'
	export default{
    mixins: [getInformation]
	}

</script>