<template>
	<div>
		<h1>Creando Movimiento</h1>
		<movement-form/>
	</div>
</template>

<script>
	import MovementForm from './__movement-form'

	export default{
		components: {
			MovementForm
		}
	}
</script>