<template>
	<div>
		<b-row>
			<b-container>
			<div>
				<h1 class="text-center">
					<img src="@/assets/dinero.png" width="60" height="60" /> Fondos Disponibles
				</h1>
			</div>
				<div v-for=" fondo of acounts" :key="fondo.id">
					<b-list-group>
						<b-list-group-item class="d-flex justify-content-between align-items-center">
							<span v-if="fondo.detail">
							{{fondo.detail}}
							</span>
							<b-badge variant="success" pill>
								<span v-if="fondo.mount >= 0">{{fondo.mount}} $</span>
							</b-badge>
						</b-list-group-item>
					</b-list-group>
				</div>
			</b-container>
		</b-row>
	</div>	
</template>

<script>
	import { mapState, mapActions} from 'vuex';

	export default{
		computed:{
			...mapState([ 'acounts' ])
		},
		methods:{
			...mapActions([ 'getAcounts' ])
		},
		async created(){
      await this.getAcounts()
    }
	}
</script>