<template>
	<div>
		<h1>Productos Disponibles:</h1>
		<b-row>
			<b-container>
				<b-row >
					<b-col 
					cols="12"
					ms="12"
					md="4"
					v-for="(item,index) of productos"
					:key="index"
					>
						<b-card 
							:header= "item.nombre"
							header-text-variant="white"
							header-tag="header"
							header-bg-variant="dark"
							footer-tag="footer"
							footer-bg-variant="success"
							footer-border-variant="dark"
							style="max-width: 30rem;">
							<b-card-text>							
							<h4>
								<span v-if="api.USD">{{item.precio | multpPrecios(api.USD.transferencia)}}</span>
							</h4>
							<h4>
								{{item.cantidad}}
							</h4>
							</b-card-text>
						</b-card>
					</b-col>
				</b-row>
			</b-container>
		</b-row>
	</div>	
</template>

<script>
	import {mapState} from 'vuex';

	export default{
		created(){
			console.log(mapState(['productos']))
		},
		computed:{
			...mapState( [ 'productos', 'api'] )
		},
		methods:{
		},
		filters:{
			multpPrecios(precio, dolar){
				let value = ( precio * dolar )
				return `Bs ${value.toLocaleString()}`
			}
		}
	}
</script>