<template>
    <div id="app">
      <b-navbar toggleable="lg" type="ligth" variant="dark">
      <b-container>
        
        <b-navbar-brand to="/">Tusproductos.com</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item to="/producto">Productos</b-nav-item>
            <b-nav-item to="/fondos">Mis Fondos</b-nav-item> 
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-form>
              <b-form-input size="sm" class="mr-sm-2" placeholder="Buscar"></b-form-input>
              <b-button size="sm" class="my-2 my-sm-0" type="submit">Buscar</b-button>
            </b-nav-form>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
      </b-navbar>
        <b-alert variant="success" class="text-center" show>
          <b-col cols="12">
            <span  v-if="api._timestamp && api.USD"> Ultima Actualización del dolar: <br>
             {{api._timestamp.fecha}} - {{ api.USD.transferencia | toUSD}}
            </span>
          </b-col>
        </b-alert>
      <b-container fluid>
        <b-row>
          <b-col sm="12">
            <header class="col-12 bg-dark ">
              <div class="text-center ">
                <h1>Bienvenido Usuario</h1>
              </div>
            </header>
          </b-col>
        </b-row>

        <b-row >
          <b-col cols="4" sm="3" md="3" lg="3">
            <b-navbar-nav class="cyan-style p-0">
              <ul class="nav flex-column">
                <li class="nav-item nav-link text-center">
                  <b-nav-item to="/fondos">
                    <img src="@/assets/dinero1.png" width="50" height="50"/><br>
                    Mi dinero
                  </b-nav-item>
                </li>
                <li class="nav-item nav-link text-center">
                  <b-nav-item to="/vendors">
                  <img src="@/assets/apoyo.png" width="50" height="50"/><br>
                    Mis Proveedores
                  </b-nav-item>
                </li>
                <li class="nav-item nav-link text-center">
                  <b-nav-item to="/vendors/New">
                  <img src="@/assets/añadir.png" width="50" height="50"/><br>
                    Añadir Proveedor
                  </b-nav-item>
                </li>
                <li class="nav-item nav-link text-center">
                  <b-nav-item to="/movements">
                    <img src="@/assets/compras.png" width="50" height="50"/><br>
                    Mis movimientos
                  </b-nav-item>
                </li>     

                <li class="nav-item nav-link text-center">
                  <b-nav-item to="/movements/new">
                    <img src="@/assets/añadirmovimiento.png" width="50" height="50"/><br>
                    Añadir movimiento
                  </b-nav-item>
                </li>

                <li class="nav-item nav-link text-center">
                  <b-nav-item to="coins">         
                    <img alt="Vue logo" src="@/assets/divisas.png" width="50" height="50"><br>
                    Divisas
                  </b-nav-item>

                </li>
                
                <li class="nav-item nav-link text-center">

                  <img src="@/assets/documento.png" width="50" height="50"/>

                </li>
              </ul>
            </b-navbar-nav>
          </b-col>
          <b-col cols="8" sm="9" md="9" lg="9">
            <div class="cyan-style scroll_vertical p-3">
            <router-view class=""></router-view>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div>
</template>

<script>
  import { mapState,  mapActions } from 'vuex';

  export default{
    computed:{
      ...mapState(['api'])
    },
    methods: {
      ...mapActions( ['geting'] )
    },
    async created(){
      await this.geting()
    },
    filters: {
      toUSD (value) {
        return `Bs ${value.toLocaleString()}`
      }
    }
  }
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

header{
  color:white;
}

nav a:visited {
  color: white;
}

.color{
  background-color: green;
}

.red{
  color:red;
}

.green{
  color: green;
}


.scroll_vertical {
  height: 700px;
  overflow: auto;
  padding-left: 10px;
  padding-rigth: 10px;
}

.cyan-style{
  border-radius: 10px;
  border: 1px solid cyan ;
}


</style>
